/*!
 * Custom CSS for Xebian
 */

.breadcrumbs + h1 {
    font-size: 31.5px;
}

.breadcrumbs + h1 {
    padding-top: 40px;
}

.breadcrumb {
    margin: 20px 0;
}

img {
    width: auto;
    max-width: none;
}

img#logo {
    height: 50px;
}

.footerbox {
    margin: 15px 0;
}

code, pre {
    color: inherit;
    background-color: inherit;
}

.navbar .nav ul.dropdown-menu {
    margin-top: 0;
}

.navbar .nav li.dropdown:hover ul.dropdown-menu,
.navbar .nav li.dropdown:active ul.dropdown-menu,
.navbar .nav li.dropdown:focus ul.dropdown-menu {
    display: block;
}

@media (max-width: 979px) {
    .navbar .nav > li > .dropdown-menu:before,
    .navbar .nav > li > .dropdown-menu:after {
	display: none;
    }
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-submenu:hover > a,
.dropdown-submenu:focus > a {
    background-color: #33b5e5;
    background-image: -moz-linear-gradient(top, #33b5e5, #020202);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33b5e5), to(#020202));
    background-image: -webkit-linear-gradient(top, #33b5e5, #020202);
    background-image: -o-linear-gradient(top, #33b5e5, #020202);
    background-image: linear-gradient(to bottom, #33b5e5, #020202);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33b5e5', endColorstr='#ff020202', GradientType=0);
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #33b5e5;
    background-image: -moz-linear-gradient(top, #33b5e5, #020202);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33b5e5), to(#020202));
    background-image: -webkit-linear-gradient(top, #33b5e5, #020202);
    background-image: -o-linear-gradient(top, #33b5e5, #020202);
    background-image: linear-gradient(to bottom, #33b5e5, #020202);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33b5e5', endColorstr='#ff020202', GradientType=0);
}

@media (max-width: 979px) {
    .navbar .nav-collapse .nav li > a:hover,
    .navbar .nav-collapse .nav .active > a,
    .navbar .nav-collapse .dropdown-menu a:hover {
	background-color: #33b5e5;
	background-image: -moz-linear-gradient(top, #33b5e5, #020202);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#33b5e5), to(#020202));
	background-image: -webkit-linear-gradient(top, #33b5e5, #020202);
	background-image: -o-linear-gradient(top, #33b5e5, #020202);
	background-image: linear-gradient(to bottom, #33b5e5, #020202);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff33b5e5', endColorstr='#ff020202', GradientType=0);
    }
}
