/*!
 * Custom CSS for Xebian
 */

body {
    background-image: linear-gradient(rgb(5, 5, 5), rgb(30, 34, 38));
    min-height: 100vh;
    font-size: 1rem;
}

.navbar.bg-dark {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    border-color: #777;
}

img#logo {
    height: 50px;
}

ul.navbar-nav {
    margin-top: 11px;
}

#footer {
    margin-top: 1.5rem;
    padding: 1rem 0;
    border-color: #777;
    text-align: center;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
    color: #dcdcdc;
}

.h1, h1 { font-size: 3.75rem; }
.h2, h2 { font-size: 2.75rem; }
.h3, h3 { font-size: 2.25rem; }
.h4, h4 { font-size: 1.75rem; }
.h5, h5 { font-size: 1.5rem; }
.h6, h6 { font-size: 1rem; }

.breadcrumbs + h1,
h1.p-name.entry-title {
    font-size: 2.75rem;
}

.breadcrumb {
    background-color: #181818;
}

.floatbox {
    float: left;
}

.floatbox-left {
    margin-right: 18%;
}

.clear {
    clear: both;
}

.floatbox .title {
    margin-bottom: .75rem;
    color: #dcdcdc;
}

/* h2 */
.entry-content > .floatbox .title {
    font-size: 2.75rem;
}

/* h3 */
.sectionbody > .floatbox .title {
    font-size: 2.25rem;
}

/* h4 */
.sect2 > .floatbox .title {
    font-size: 1.75rem;
}
