/*!
 * Custom CSS for Icebox
 */

.breadcrumbs + h1 {
    font-size: 31.5px;
}

.breadcrumbs + h1 {
    padding-top: 40px;
}

.breadcrumb {
    margin: 20px 0;
}

img {
    width: auto;
    max-width: none;
}

.footerbox {
    margin: 15px 0;
}
